body {
  background-color: #000;
  font-family: 'Chakra Petch', sans-serif;
}

.btn {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #DCDCDC;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  color: #000;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 45px;
  margin: 0 5px;
  outline: 1px solid #000;
  text-align: center;
  width: 45px;
}

.btn:hover {
  scale: 1.025;
}

.btn-container {
  padding: 20px 10px;
  /* outline: solid 1px red; */
}

.btn-group {
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  /* outline: solid 1px red; */
}

.btn-group:last-of-type {
  margin-bottom: 0;
}

.calculator {
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0 0 20px #000;
  background-color: #808080;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  outline: solid 1px #000;
  padding: 30px 15px;
  position: relative;
  width: 275px;
}

.clear-btn {
  background-color: #FF4500;
  width: 100px;
}

.company-name {
  bottom: 5px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  /* outline: solid 1px red; */
}

.container {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  width: 80%;
  /* outline: solid 1px red; */
}

.container p {
  -webkit-box-shadow: 0 0 20px #000;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
  color: red;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 20px 10px;
  width: 500px;
}

.equals-btn {
  background-color: #87CEFA;
  width: 100px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
  position: relative;
  text-align: center;
}

.footer-logo {
  -webkit-transform: translateY(-50%);
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

.header {
  background-color: #000;
  color: #fff;
  font-size: 30px;
  padding: 15px 10px;
  text-align: center;
  /* outline: solid 1px blue; */
}

.main {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear,
      left bottom, left top,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))),
    url("../img/trees-and-stars.webp");
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)),
    url("../img/trees-and-stars.webp");
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  /* outline: solid 1px red; */
}

.output {
  background-color: #C0C0C0;
  border: solid 2px #000;
  border-radius: 5px;
  font-size: 20px;
  margin: 0 auto;
  padding: 5px;
  width: 210px;
  /* outline: solid 1px blue; */
}

.output:focus {
  outline: none;
}

@media(max-width: 700px) {
  .container {
    width: 90%;
  }

  .container p {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px 10px;
    width: 100%;
  }

  .header {
    font-size: 26px;
  }
}

@media (max-width: 400px) {
  .calculator {
    width: 95%;
  }

  .container {
    width: 100%;
  }

  .main {
    background-image: -webkit-gradient(linear,
        left bottom, left top,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))),
      url("../img/trees-and-stars-mobile.webp");
    background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)),
      url("../img/trees-and-stars-mobile.webp");
  }
}